/* ---------------Media Queries------------- */
@media only screen and (min-width: 768px) {
  :root {
    --header-height: 80px;
  }

  body {
    padding-block: calc(var(--header-height) + 16px) 32px;
  }

  .container {
    padding-inline: 36px;
  }

  .card {
    --spacing: 24px;
  }

  .avatar-skeleton {
    width: 200px;
    height: 200px;
  }

  .search-btn .material-symbols-rounded,
  .search-toggler {
    display: none;
  }

  .search-box .leading-icon,
  .search-btn .label-1,
  .header:not(.search-active) .search-box {
    display: block;
  }

  .search-box .leading-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  .search-field {
    padding-inline: 56px 88px;
  }

  .search-btn {
    width: max-content;
    padding-inline: 16px;
  }

  .header-search {
    max-width: 360px;
  }

  .main .container {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 60px;
    align-items: flex-start;
  }

  .profile :where(.avatar-circle, .avatar-rounded) {
    width: 200px;
  }

  .profile {
    margin-block-end: 0;
    position: sticky;
    top: calc(var(--header-height) + 16px);
  }

  .profile .footer {
    display: block;
    margin-block-start: 24px;
  }
  .tab-container .tab-list {
    margin-inline: 0;
    padding-inline: 0;
  }

  footer.footer {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    padding-inline: 32px;
  }

  .avatar-skeleton {
    width: 280px;
    height: 280px;
  }

  .main .container {
    grid-template-columns: 280px 1fr;
  }

  .profile :where(.avatar-circle, .avatar-rounded) {
    width: 280px;
  }
}
@media only screen and (min-width: 1080px) {
  .tab-panel .card {
    max-width: calc(50% - 8px);
  }
}

@media only screen and (max-width: 768px) {
  .notfound .notfound-title {
    font-size: 182px;
  }
}
@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 146px;
  }
  .notfound .notfound-title {
    font-size: 146px;
  }
  .notfound .notfound-subtitle {
    font-size: 16px;
  }
  .notfound .home-btn {
    font-size: 14px;
  }
}
